{{#if readonly}}
  {{#if attachments.attachments.length}}
    {{#each attachments.attachments as |document|}}
      {{#nop-document document=document}}
      {{/nop-document}}
    {{/each}}
  {{else}}
    <div class='error-message'>Required</div>
  {{/if}}
{{else}}
  {{nop-attach-multiple-documents documents=attachments.attachments
                                  descriptionRequired=false
                                  instructionHint='Please submit in Adobe Portable Format (.pdf) or an image (.jpeg, .jpg, .png) format'
                                  accepts='.pdf,.jpeg,.jpg,.png'
                                  errors=attachments.errors
                                  errorKey='attachments'
                                  instruction=instruction}}
{{/if}}
