{{#if label}}
  <label class="{{if required 'required'}}">{{label}}</label>
{{/if}}

{{#if hint}}
  <div class='hint'>{{hint}}</div>
{{/if}}

{{nop-uploader token=document.token
               hasPreview=true
               hint='Please submit a file in the JPEG (.jpg, .jpeg) or PNG (.png) formats.'
               accept='.jpg,.jpeg,.png'}}
