<button class='file-picker'>
  <div class='instruction'>{{instruction}}</div>
</button>
{{#if complete}}
  <div class='preview'></div>
{{/if}}
{{#if hint}}
  <div class='hint'>{{hint}}</div>
{{/if}}
{{#if showProgress}}
<div class='progress'>
  <div class="progress-inner {{if complete 'complete'}}" {{bind-attr style=(concat 'width:' progress '%')}}></div>
</div>
{{/if}}
