<label for="{{concat elementId '-' name}}">{{label}}</label>
{{select-2 content=content multiple=multiple required=required value=value optionValuePath=optionValuePath id=(concat elementId '-' name)}}
