{{#if hint}}
  <div class='hint'>{{hint}}</div>
{{/if}}
{{textarea id=(concat elementId '-' idSuffix) rows=rows required=required value=value}}
<label for="{{concat elementId '-' idSuffix}}">{{label}}</label>
<span class="highlight" />
