{{#if label}}
  <label>{{label}}</label>
{{/if}}
{{#if hint}}
  <span class='hint'>{{hint}}</span>
{{/if}}
<div>
  {{#each options as |option index|}}
    {{nop-radio label=option.label value=option.value checked=value inputId=option.inputId}}
  {{/each}}
</div>
