{{#if readonly}}
  <div class="label">Attachment</div>
  {{#if attachment.attachment}}
    {{nop-document document=attachment.attachment}}
  {{else}}
    <div class='error-message'>Required</div>
  {{/if}}
{{else}}
  {{nop-attach-document document=attachment.attachment
                        instruction=instruction
                        instructionHint='Please submit in Adobe Portable Format (.pdf) or an image (.jpeg, .jpg, .png) format'
                        accepts='.pdf,.jpeg,.jpg,.png'
                        errors=attachment.errors
                        errorKey='attachment'
                        required=true}}
{{/if}}
