<section>
  {{nop-confirmation-emails additionalInfo=additionalInfo
                            uniqueEmailMessages=uniqueEmailMessages
                            readonly=readonly}}
</section>
{{#if !readonly}}
{{else}}
  {{nop-section-header title='Titleholder contact details for access to public comments' hint='For Exploration EPs only, please provide titleholder contact details (name, phone number and email) in the comments section below. This person will be given access to public comments through a NOPSEMA Shared Folder. They will be able to share access with other users.'}}
{{/if}}


{{nop-comments comments=additionalInfo.comments
               hint='Please also provide anything else that you need to support your submission.'
               readonly=readonly}}
