{{#link-to item.path}}
  {{#if complete}}
    {{fa-icon 'check'}}
  {{/if}}
  {{#if visitedWithErrors}}
    {{fa-icon 'exclamation'}}
  {{/if}}
  <div class='item-name'>{{item.label}}</div>
{{/link-to}}
