{{ title title }}
<section class='page-section'>
  <header>
    <img src="/logo-icon.png" alt="logo" class="logo" />
    <h2>{{title}}</h2>
    {{#if hint}}
      <div class='hint'>{{hint}}</div>
    {{/if}}
  </header>

  {{yield}}
</section>
