{{#file-picker fileLoaded='fileLoaded' preview=true accept=accept readAs='readAsArrayBuffer'}}
    Drag here or click to upload a file
{{/file-picker}}
{{#if hint}}
  <div class='hint'>{{hint}}</div>
{{/if}}
