{{nop-label forElementId=(concat elementId '-' name)
            label=label
            required=required
            errorMessage=errorMessage}}
{{nop-hint hint=hint}}
<div class="highlight-container">
  {{input id=(concat elementId '-' name) required=required type=type value=value}}
  <span class="highlight" />
</div>
{{#if nonRequiredErrors}}
  <div class="error-message">
    {{ nonRequiredErrors }}
  </div>
{{/if}}
