{{nop-label forElementId=inputId
            label=label
            required=required
            hint=hint
            errorMessage=errorMessage}}
<div class="highlight-container">
  {{input id=inputId required=required type=type value=value disabled=disabled}}
  <span class="highlight" />
</div>
{{#if nonRequiredErrors}}
  <div class="error-message">
    {{ nonRequiredErrors }}
  </div>
{{/if}}
