<h2>Activity Description</h2>
{{nop-input label='Activity Name' inputId='activity-name' required=true}}
{{nop-textarea label='Activity Description' inputId='activity-description'
                                            required=true
                                            rows=3
                                            hint='Describe the activity in 200 to 500 words. This information will be published on the NOPSEMA website'}}

{{nop-input label='Location of Activity' inputId='activity-location'
                                         required=true
                                         rows=3
                                         hint='The file should be in JPEG format. A minimum size of 500Kb and a maximum of 1MB.'}}
