{{#if readonly}}
  {{#if environmentPlan.token}}
    You have provided the following document:
    <ul class="bullets">
      <li>{{or environmentPlan.name '-'}}</li>
    </ul>
  {{/if}}

  {{nop-errors errors=errors}}
{{else}}
  {{nop-attach-document document=environmentPlan}}
{{/if}}
