{{ title title }}
<section class='page-section'>
  <header>
    <img src="/logo-icon.png" alt="logo" class="logo" />
    <h2>{{title}}</h2>
    {{nop-hint hint=hint}}
  </header>

  {{yield}}
</section>
