<div class='levy-calculation'>
  <ul>
    <li>Activity ($) <strong>{{levies.activity}}</strong></li>
    <li>Compliance ($) <strong>{{levies.compliance}}</strong></li>
    <li>Total ($) <strong>{{levies.total}}</strong></li>
  </ul>
</div>
