{{nop-label forElementId=(concat elementId '-' name)
            label=label
            required=required
            errorMessage=errorMessage}}
{{nop-hint hint=hint}}
<div>
  {{#each options as |option index|}}
    {{nop-radio label=option.label value=option.value checked=value name=option.name disabled=option.disabled}}
  {{/each}}
</div>
{{#if nonRequiredErrors}}
  <div class="error-message">
    {{ nonRequiredErrors }}
  </div>
{{/if}}
