{{#if readonly}}
  <h3>Titleholder Details</h3>
  {{nop-titleholder-details titleholder=submission.titleholderDetails disabled=true}}
{{else}}
  {{nop-titleholder-details titleholder=submission.titleholderDetails}}
{{/if}}
