<div class='label'>{{label}}</div>
{{#each valueLines as |line|}}
  <p class='content'>{{line}}</p>
{{/each}}
{{#unless value}}
  <span class='blank'>Not specified</span>
{{/unless}}
{{#if errorMessage}}
  <div class="errors">
    {{ errorMessage }}
  </div>
{{/if}}
