{{#if showLevies}}
  <div class='estimated-levies'>
    {{nop-text-field label='Activity' value=(format-money levies.activity)}}
    {{nop-text-field label='Compliance' value=(format-money levies.compliance)}}
    {{nop-text-field label='Total' value=(format-money levies.total)}}
  </div>
{{else}}
  <div class='error-message'>Both activity types and titles must be specified before levies can be calculated</div>
{{/if}}
