{{#if label}}
  <label class="{{if required 'required'}}">{{label}}</label>
{{/if}}
{{#if hint}}
  <span class='hint'>{{hint}}</span>
{{/if}}
<div>
  {{#each options as |option index|}}
    {{nop-radio label=option.label value=option.value checked=value inputId=option.inputId disabled=option.disabled}}
  {{/each}}
</div>
