{{nop-label forElementId=(concat elementId '-' name)
            label=label
            required=required
            hint=hint
            errorMessage=errorMessage}}
<div class="highlight-container">
  {{textarea id=(concat elementId '-' name) rows=rows required=required value=value}}
  <span class="highlight" />
</div>
<div class="error-message">
  {{#if nonRequiredErrors}}
    {{ nonRequiredErrors }}
  {{/if}}
</div>
