<section>
  {{nop-confirmation-emails additionalInfo=additionalInfo
                            uniqueEmailMessages=uniqueEmailMessages
                            readonly=readonly}}
</section>

{{nop-comments comments=additionalInfo.comments
               hint='(Exploration EPs only) Please provide titleholder contact details below (name, phone number and email)
            for access to public comments through a NOPSEMA Shared Folder. This person will be able to request access
            for other users as required.<br/><br />Please also provide anything else that you need to support your submission.'
               readonly=readonly}}
