{{input id=(concat elementId '-' name) type='checkbox' name=name checked=checked disabled=disabled}}
{{nop-label forElementId=(concat elementId '-' name)
            label=label
            required=required
            errorMessage=errorMessage}}
<div class="check"></div>
