<div class='sidebar'>

</div>
<div class='content'>
  {{#link-to editLink class='navigate-to-section'}}
    <h3 class='title'>
      {{title}}
      {{#if editLink}}
        {{fa-icon 'edit'}}
      {{/if}}
    </h3>
  {{/link-to}}
  {{yield}}
</div>
