<div class='label'>{{label}}</div>
{{#each valueLines as |line|}}
  <p class='content'>{{line}}</p>
{{/each}}
{{#unless value}}
  {{#unless errorMessage}}
    <span class='blank'>Not specified</span>
  {{/unless}}
{{/unless}}
{{#if errorMessage}}
  <div class="error-message">
    {{ errorMessage }}
  </div>
{{/if}}
