{{#if document.token}}
<section class='document'>
  <figure class='document-icon'>
    <figcaption class='document-extension'>{{document.extension}}</figcaption>
    <div class='document-size'>{{document.sizeFormatted}}</div>
  </figure>
  <div class='document-name'>{{document.name}}</div>
</section>
{{/if}}
