{{#nop-page title='Declaration options'
            class='declaration-options-page'}}


  {{nop-declaration-options declarationOptions=model.declarationOptions}}

  {{#nop-actions}}
    {{#link-to back}}
      <button>Back</button>
    {{/link-to}}
    {{#link-to next}}
      <button class='primary'>Next</button>
    {{/link-to}}
  {{/nop-actions}}
{{/nop-page}}
