@mixin button-color($button-color) {
  background-color: $button-color;

  &:hover, &:active {
    background-color: darken($button-color, 15%);
  }
}

#{$all-button-inputs},
button {
  @include appearance(none);
  @include shadow-depth2;
  @include button-color($light-grey);
  -webkit-font-smoothing: antialiased;
  user-select: none;
  
  border-radius: $base-border-radius;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $button-font-weight;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin-bottom: $base-input-margin-bottom;

  &:hover,
  &:focus {
    outline: none;
  }

  &:active {
    @include shadow-depth3;
    transform: scale(0.975);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.primary {
    @include button-color($action-color);
  }

  &.warning {
    @include button-color($error-color);
  }
}