$nopsema-orange: #F58220;
$nopsema-blue: #2C67A0;
$nopsema-grey: #6B6D70;
$light-grey: lighten($nopsema-grey, 25%);
$extra-light-grey: lighten($nopsema-grey, 45%);
$white: lighten($nopsema-grey, 58%);
$off-white: lighten($nopsema-grey, 54%);
$dark-grey: darken($nopsema-grey, 20%);
$grey-mask: transparentize($nopsema-grey, 0.6);
