$checked-color: $nopsema-orange;
$disabled-opacity: 0.5;
$input-border-bottom: 2px;

@mixin form-input {
  font-family: $base-font-family;
  font-size: $base-input-font-size;
  font-weight: $base-font-weight;
  background-color: $off-white;
}

input, textarea, select {
  @include form-input;
}

.input-group {
  position: relative;

  label {
    position: absolute;
    top: 0;
    display: block;
    color: $nopsema-grey;
    transition: color $base-transition-duration $base-transition-easing;
  }

  input, textarea {
    @include appearance(none);
    margin-top: 25px;
    margin-bottom: $base-input-margin-bottom;
    border: none;
    border-bottom: $input-border-bottom solid $extra-light-grey;
    width: 100%;

    &:focus {
      outline: none;

      ~label {
        color: $nopsema-orange;
      }

      ~ .highlight {
        transform: scaleX(1);
      }
    }
  }

  input:required {
    ~label {
      &:after {
        content: ' *';
      }
    }
  }

  input {
    height: $base-input-height;

    ~ .highlight {
      bottom: $base-input-margin-bottom;
    }
  }

  textarea {
    min-height: $base-input-height;
    resize: vertical;
    ~ .highlight {
      bottom: $base-input-margin-bottom + 4px;
    }
  }

  .highlight {
    display: block;
    position: absolute;
    bottom: 10px;
    height: 3px;
    width: 100%;
    background-color: $nopsema-orange;
    transform: scaleX(0);
    transition: transform $base-transition-duration $base-transition-easing;
  }
}

.radio-group {
  position: relative;
  margin-bottom: $base-input-margin-bottom;

  input[type=radio] {
    position: absolute;
    display: block;
    @include appearance(none);
    height: 0;
    width: 0;

    &:focus {
      ~ label {
        border: 1px dashed $light-grey;
      }
    }

    $checked-color: $nopsema-orange;
    &:active {
      ~ label {
        color: $checked-color;
      }

      ~ .check {
        border-color: $checked-color;
      }
    }

    &:checked{
      ~ label {
        color: $checked-color;
      }

      ~ .check {
        border-color: $checked-color;

        &:before {
          background: $checked-color;
        }
      }
    }

    $disabled-opacity: 0.5;
    &:disabled {
      ~ label {
        opacity: $disabled-opacity;
        cursor: not-allowed;
      }

      ~ .check {
        opacity: $disabled-opacity;

        &:before {
          opacity: 1;
        }
      }
    }
  }

  label {
    position: relative;
    padding: 10px 10px 10px 60px;
    font-size: $base-input-font-size;
    cursor: pointer;
    transition: color $base-transition-duration $base-transition-easing;
    z-index: 9;
  }

  .check {
    position: absolute;
    border: 5px solid $nopsema-grey;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    top: 0px;
    left: 10px;
    transition: border-color $base-transition-duration $base-transition-easing;

    &::before {
      display: block;
      position: absolute;
      content: '';
      border-radius: 100%;
      height: 15px;
      width: 15px;
      top: 5px;
      left: 5px;
      margin: auto;
      transition: background $base-transition-duration $base-transition-easing;
    }
  }
}

.select-group {

  .select2-container {
    width: 100%;

    &:focus {
      background: red;
    }

    .select2-choice {
      height: $base-input-height;
      line-height: $base-input-height;
      background: $off-white;
      border: none;
      border-bottom: $input-border-bottom solid $extra-light-grey;

      .select2-arrow {
        border: none;
        background: transparent;
        top: 10px;

        b {
          transform: scale(2);
        }
      }
    }

    &.select2-container-active {
      .select2-choice, .select2-choices {
        box-shadow: none;
      }
    }

    .select2-chosen {
      @include form-input;
    }
  }

  .select2-container-multi {
    .select2-choices {
      background: $off-white;
      border: none;
      border-bottom: $input-border-bottom solid $extra-light-grey;
      padding: 3px;
    }

    .select2-search-choice {
      border-radius: $base-border-radius;
      border: 2px solid $nopsema-orange;
      min-height: $base-input-height;
      line-height: $base-input-height;
      font-size: $base-input-font-size;
      font-weight: $base-font-weight;
      width: 98%;
      background: $off-white;
    }
  }
}

.select2-search {
  input {
    height: $base-input-height !important;
  }
}

.select2-results {
  .select2-highlighted {
    background: $nopsema-orange;
  }

  .select2-result {
    padding: 5px;
    border-bottom: $input-border-bottom solid $extra-light-grey;

    &:last-child {
      border: none;
    }
  }
}

.select2-drop {
  @include form-input;
}

.select2-drop-active {
  border: none;
  border-radius: $base-border-radius;
}

.checkbox-group {
  position: relative;
  margin-bottom: $base-input-margin-bottom;

  input[type=checkbox] {
    position: absolute;
    display: block;
    @include appearance(none);
    height: 0;
    width: 0;

    &:focus {
      ~ label {
        border: 1px dashed $light-grey;
      }
    }

    &:active {
      ~ label {
        color: $checked-color;
      }

      ~ .check {
        border-color: $checked-color;

        &:before {
          opacity: 1;
        }
      }
    }

    &:checked {
      ~ label {
        color: $checked-color;
      }

      ~ .check {
        border-color: $checked-color;

        &:before {
          opacity: 1;
        }
      }

      &:disabled {
        ~ .check {
          &:before {
            opacity: 1;
          }
        }
      }
    }

    &:disabled {
      ~ label {
        opacity: $disabled-opacity;
        cursor: not-allowed;
      }

      ~ .check {
        opacity: $disabled-opacity;

        &:before {
          opacity: 0;
        }
      }
    }
  }

  label {
    position: relative;
    padding: 10px 10px 10px 60px;
    font-size: $base-input-font-size;
    cursor: pointer;
    transition: color $base-transition-duration $base-transition-easing;
    z-index: 9;
  }

  .check {
    position: absolute;
    border: 5px solid $nopsema-grey;
    width: 35px;
    height: 35px;
    top: 0px;
    left: 10px;
    transition: border-color $base-transition-duration $base-transition-easing;

    &::before {
      display: block;
      position: absolute;
      opacity: 0;
      content: '\f00c';
      font-size: 1.5*$base-font-size;
      font-family: FontAwesome;
      color: $checked-color;
      height: 16px;
      width: 16px;
      top: -6px;
      left: 1px;
      margin: auto;
      transition: opacity $base-transition-duration $base-transition-easing;
    }
  }
}
