@mixin shadow-depth1($color: $shadow-color) {
  box-shadow: 0 0 $base-shadow-depth 0 $color;
}

@mixin shadow-depth2($color: $shadow-color) {
  box-shadow: 0 0 $base-shadow-depth*1.5 0 $color;
}

@mixin shadow-depth3($color: $shadow-color) {
  box-shadow: 0 0 $base-shadow-depth*2.5 0 $color;
}

@mixin responsive-square($percentage: 100%) {
  width: $percentage;
  padding-bottom: $percentage;
  position: relative;
  margin: auto;
}

@mixin responsive-circle($percentage: 100%) {
  @include responsive-square($percentage);

  border-radius: 50%;
}

@mixin full-background-image {
  background-size: cover;
  background-position: center;
}

@mixin center-in-parent($top:50%, $left:50%) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-$left, -$top);
  text-align: center;
}

@mixin touch-indicator {
  box-shadow: 0px 3px 3px black;
}

@mixin as-card {
  @include shadow-depth1;
  background-color: white;
  border: 1px solid #DDD;
  border-bottom: 1px solid $extra-light-grey;
  border-radius: $base-border-radius;

  transition: all $base-transition-duration $base-transition-easing;
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}
