$base-font-family: 'Houschka Pro', 'Helvetica Neue', 'Helvetica', sans-serif;
$heading-font-family: $base-font-family;

$base-font-weight: 300;
$button-font-weight: 500;
$heading-font-weight: 300;

$base-font-size: 1em;
$heading-font-size: $base-font-size;
$base-input-font-size: $base-font-size * 1.5;

$base-line-height: 1.5;
$heading-line-height: 1.2;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;

$base-input-height: 35px;
$base-input-margin-bottom: 15px;

$base-font-color: $dark-grey;
$base-background-color: $extra-light-grey;
$base-input-background: $extra-light-grey;

$action-color: $nopsema-blue;
$error-color: $nopsema-orange;

$base-border-radius: 2px;

$base-transition-duration: 150ms;
$base-transition-easing: ease;

$base-shadow-depth: 5px;
$shadow-color: $grey-mask;

$desktop-width: em(860);

$desktop: new-breakpoint(min-width $desktop-width);