$base-font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
$heading-font-family: $base-font-family;

$base-font-weight: 300;
$button-font-weight: 500;
$heading-font-weight: 300;

$base-font-size: 1em;
$heading-font-size: $base-font-size;
$base-input-font-size: $base-font-size * 1.3;

$main-content-columns: 10;

$base-line-height: 1.5;
$heading-line-height: 1.2;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;

$base-input-height: 40px;
$base-input-margin-bottom: 25px;

$base-font-color: $dark-grey;
$inverted-font-color: invert($base-font-color);
$base-background-color: $extra-light-grey;
$base-input-background: $extra-light-grey;
$card-background-color: $white;
$hint-color: $light-grey;
$topbar-color: darken($nopsema-grey, 30%);

$primary-color: $nopsema-blue;
$highlight-color: $nopsema-orange;
$error-color: $nopsema-orange;

$base-border-radius: 2px;

$base-transition-duration: 150ms;
$base-transition-easing: ease;

$base-shadow-depth: 5px;
$shadow-color: $grey-mask;

$disabled-opacity: 0.5;
$input-border-bottom: 2px;

$desktop-width: em(920);

$desktop: new-breakpoint(min-width $desktop-width);
