@import "bourbon";
@import "neat";
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

@import "colors";
@import "variables";
@import "mixins";

@import "typography";
@import "layout";
@import "forms/forms";
@import "lists";
@import "tables";
@import "modals";

@import "components/components";
@import "pages/pages";

body {
  background: $base-background-color;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0;
}

@media print {
  body {
    width: 100%;
  	margin: 0;
    padding: 0;
  	background: none;
  }
}

.notice {
  position: relative;
  background: #FFFFDD;
  border: 1px solid #EEEEDD;
  padding: 10px 16px 10px 46px;
  font-size: 0.8rem;
  p {
    margin: 0;
  }
  ul {
    margin: 4px 0;
    list-style-type: disc;
    padding-left: 20px;
  }
  .fa {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 1.4rem;
    opacity: 0.15;
  }
}
