@import "bourbon";
@import "neat";

@import "colors";
@import "variables";
@import "mixins";

@import "typography";
@import "layout";
@import "forms/forms";
@import "lists";
@import "tables";

@import "components/components";
@import "pages/pages";

body {
  background: $base-background-color;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0;

  // TODO This does not belong here
  .hint {
    font-style: italic;
    color: $hint-color;
    margin: 0 0 6px 0;
    white-space: normal;
  }
}
