nop-checkbox {
  @include span-columns(12);

  @include media($desktop) {
    @include span-columns(10);
  }

  position: relative;
  margin-bottom: $base-input-margin-bottom;

  input[type=checkbox] {
    position: absolute;
    display: block;
    @include appearance(none);
    height: 0;
    width: 0;

    &:focus {
      ~ label {
        border-color: $extra-light-grey;
      }
    }

    &:active {
      ~ label {
        color: $highlight-color;
      }

      ~ .check {
        border-color: $highlight-color;

        &:before {
          opacity: 1;
          color: $highlight-color;
        }
      }

      &:disabled {
        ~ label {
          color: $highlight-color;
        }

        ~ .check {
          border-color: $highlight-color;
        }
      }
    }

    &:checked {
      ~ label {
        color: $checked-color;
      }

      ~ .check {
        border-color: $checked-color;

        &:before {
          opacity: 1;
        }
      }

      &:disabled {
        ~ .check {
          &:before {
            opacity: 1;
          }
        }
      }
    }

    &:disabled {
      ~ label {
        opacity: $disabled-opacity;
        cursor: not-allowed;
      }

      ~ .check {
        opacity: $disabled-opacity;

        &:before {
          opacity: 0;
        }
      }
    }
  }

  label {
    position: relative;
    padding: 6px 6px 6px 36px;
    font-size: 1.2em;
    cursor: pointer;
    transition: color $base-transition-duration $base-transition-easing;
    border: 1px solid transparent;
    z-index: 9;
  }

  .check {
    position: absolute;
    border: 3px solid $nopsema-grey;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    transition: border-color $base-transition-duration $base-transition-easing;

    &::before {
      display: block;
      position: absolute;
      opacity: 0;
      content: '\f00c';
      font-size: 1.4*$base-font-size;
      font-family: FontAwesome;
      color: $checked-color;
      height: 16px;
      width: 16px;
      top: -4px;
      left: 1px;
      margin: auto;
      transition: all $base-transition-duration $base-transition-easing;
    }
  }
}
