input, textarea {
  @include form-input;

  $side-padding: 5px;
  padding-left: $side-padding;
  padding-right: $side-padding;

  &:required {
    ~label {
      &:after {
        content: '*';
      }
    }
  }
}

nop-input, nop-textarea {
  @include span-columns(12);
}

@include media($desktop) {
  nop-input, nop-textarea {
    @include span-columns(10);
  }
}

nop-input, nop-textarea {
  position: relative;
  margin-bottom: $base-input-margin-bottom;

  &.has-hint {
    .hint {
      margin-top: 30px;
      font-size: $base-font-size * 0.8;
    }

    input, textarea {
      margin-top: 5px;
    }
  }

  label {
    position: absolute;
    top: 0;
    display: block;
    color: $nopsema-grey;
    transition: color $base-transition-duration $base-transition-easing;
  }

  input, textarea {
    @include appearance(none);
    margin-top: 25px;
    border: none;
    border-bottom: $input-border-bottom solid $extra-light-grey;
    width: 100%;

    &:focus {
      outline: none;

      ~label {
        color: $highlight-color;
      }

      ~ .highlight {
        transform: scaleX(1);
      }
    }
  }

  input {
    height: $base-input-height;
  }

  textarea {
    min-height: $base-input-height;
    resize: vertical;
    ~ .highlight {
      bottom: 6px;
    }
  }

  .highlight {
    display: block;
    position: absolute;
    bottom: 0px;
    height: 3px;
    width: 100%;
    background-color: $highlight-color;
    transform: scaleX(0);
    transition: transform $base-transition-duration $base-transition-easing;
  }
}
