input, textarea {
  @include form-input;
}

nop-input {
  position: relative;
  margin-bottom: $base-input-margin-bottom;

  label {
    position: absolute;
    top: 0;
    display: block;
    color: $nopsema-grey;
    transition: color $base-transition-duration $base-transition-easing;
  }

  input, textarea {
    @include appearance(none);
    margin-top: 25px;
    border: none;
    border-bottom: $input-border-bottom solid $extra-light-grey;
    width: 100%;

    &:focus {
      outline: none;

      ~label {
        color: $highlight-color;
      }

      ~ .highlight {
        transform: scaleX(1);
      }
    }
  }

  input:required {
    ~label {
      &:after {
        content: ' *';
      }
    }
  }

  input {
    height: $base-input-height;
  }

  textarea {
    min-height: $base-input-height;
    resize: vertical;
    ~ .highlight {
      bottom: $base-input-margin-bottom + 4px;
    }
  }

  .highlight {
    display: block;
    position: absolute;
    bottom: 0px;
    height: 3px;
    width: 100%;
    background-color: $highlight-color;
    transform: scaleX(0);
    transition: transform $base-transition-duration $base-transition-easing;
  }
}
