input, textarea {
  @include form-input;

  $side-padding: 5px;
  padding-left: $side-padding;
  padding-right: $side-padding;

}

nop-input, nop-textarea {
  @include span-columns(12);
}

.error-message {
  display: none;
}
.required-error-message {
  display: none;
  color: #ce465d;
  font-size: 0.75rem;
}


.visited {
  .errors {
    input, textarea {
      background: #F9ECEC;    
      border-bottom: $input-border-bottom solid #DDAAAA;
    }
  }
  .error-message {
    display: block;
  }
  .required-error-message {
    display: inline;
  }
}



.input-label.required:after {
  content: '*';
  margin-left: -4px;
}

.highlight-container {
  position: relative
}

nop-label {
  label {
    color: $nopsema-grey;
    margin-bottom: 4px;
  }
}

.hint {
  font-size: 0.8rem;
}


nop-input, nop-textarea {
  position: relative;
  margin-bottom: $base-input-margin-bottom;

  input, textarea {
    @include appearance(none);
    border: none;
    border-bottom: $input-border-bottom solid $extra-light-grey;
    width: 100%;

    &:focus {
      outline: none;

      ~ .highlight {
        transform: scaleX(1);
      }
    }
  }

  input {
    padding: 10px 14px;
  }

  textarea {
    min-height: $base-input-height;
    padding: 10px 14px;
    resize: vertical;
    ~ .highlight {
      bottom: 6px;
    }
  }

  .highlight {
    display: block;
    position: absolute;
    bottom: 0px;
    height: 3px;
    width: 100%;
    background-color: $highlight-color;
    transform: scaleX(0);
    transition: transform $base-transition-duration $base-transition-easing;
  }
}
