nop-radio {
  position: relative;
  margin-bottom: 10px;

  $checked-width: 40px;
  &.readonly {
    position: relative;

    .selection-indicator, .label {
      display: inline-block;
    }

    .selection-indicator {
      position: absolute;
      width: $checked-width;
      text-align: center;
      visibility: hidden;
    }

    .label {
      padding-left: $checked-width;
    }

    &.selected {
      .selection-indicator {
        visibility: visible;
      }

      .label {
        font-weight: 400;
      }
    }
  }

  input[type=radio] {
    position: absolute;
    display: block;
    @include appearance(none);
    height: 0;
    width: 0;

    &:focus {
      ~ label {
        border-color: $extra-light-grey;
      }
    }

    &:active {
      ~ label {
        color: $highlight-color;
      }

      ~ .check {
        border-color: $highlight-color;

        &:before {
          background: $highlight-color;
        }
      }

      &:disabled {
        ~ label {
          color: $highlight-color;
        }

        ~ .check {
          border-color: $highlight-color;

          &:before {
            background: $highlight-color;
          }
        }
      }
    }

    &:checked{
      ~ label {
        color: $checked-color;
      }

      ~ .check {
        border-color: $checked-color;

        &:before {
          background: $checked-color;
        }
      }

      &:disabled {
        ~ .check {
          &:before {
            opacity: 1;
          }
        }
      }
    }

    &:disabled {
      ~ label {
        opacity: $disabled-opacity;
        cursor: not-allowed;
      }

      ~ .check {
        opacity: $disabled-opacity;

        &:before {
          opacity: 0;
        }
      }
    }
  }

  label {
    position: relative;
    padding: 6px 6px 6px 32px;
    font-size: 1em;
    font-weight: 300;
    color: #6B6D70;
    cursor: pointer;
    z-index: 9;
    border: 1px solid transparent;
  }

  .check {
    position: absolute;
    border: 2px solid $nopsema-grey;
    border-radius: 100%;
    width: 26px;
    height: 26px;
    top: -2px;
    left: 2px;
    transition: border-color $base-transition-duration $base-transition-easing;

    &::before {
      display: block;
      position: absolute;
      content: '';
      border-radius: 100%;
      height: 18px;
      width: 18px;
      top: 2px;
      left: 2px;
      margin: auto;
      transition: background $base-transition-duration $base-transition-easing;
    }
  }
}
