nop-radio {
  position: relative;
  margin-bottom: $base-input-margin-bottom;

  input[type=radio] {
    position: absolute;
    display: block;
    @include appearance(none);
    height: 0;
    width: 0;

    &:focus {
      ~ label {
        border-color: $extra-light-grey;
      }
    }

    &:active {
      ~ label {
        color: $highlight-color;
      }

      ~ .check {
        border-color: $highlight-color;

        &:before {
          background: $highlight-color;
        }
      }

      &:disabled {
        ~ label {
          color: $highlight-color;
        }

        ~ .check {
          border-color: $highlight-color;

          &:before {
            background: $highlight-color;
          }
        }
      }
    }

    &:checked{
      ~ label {
        color: $checked-color;
      }

      ~ .check {
        border-color: $checked-color;

        &:before {
          background: $checked-color;
        }
      }

      &:disabled {
        ~ .check {
          &:before {
            opacity: 1;
          }
        }
      }
    }

    &:disabled {
      ~ label {
        opacity: $disabled-opacity;
        cursor: not-allowed;
      }

      ~ .check {
        opacity: $disabled-opacity;

        &:before {
          opacity: 0;
        }
      }
    }
  }

  label {
    position: relative;
    padding: 6px 6px 6px 50px;
    font-size: $base-input-font-size;
    cursor: pointer;
    transition: color $base-transition-duration $base-transition-easing;
    z-index: 9;
    border: 1px solid transparent;
  }

  .check {
    position: absolute;
    border: 3px solid $nopsema-grey;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    top: 0;
    left: 10px;
    transition: border-color $base-transition-duration $base-transition-easing;

    &::before {
      display: block;
      position: absolute;
      content: '';
      border-radius: 100%;
      height: 14px;
      width: 14px;
      top: 5px;
      left: 5px;
      margin: auto;
      transition: background $base-transition-duration $base-transition-easing;
    }
  }
}
