select {
  @include form-input;
}

@mixin select2-choices {
  .select2-choice, .select2-choices {
    background: $off-white;
    border: none;
    border-bottom: $input-border-bottom solid $extra-light-grey;
    border-radius: $base-border-radius;
    height: $base-input-height;
    line-height: $base-input-height;
  }
}


nop-select {
  @include span-columns(12);
  label {
    color: $nopsema-grey;
  }
}

.select-container {
  margin: 0;
  &.required {
    label {
      .input-label:after {
        content: '*';
        margin-left: -4px;
      }
    }  
  }
}

.visited .select-container.errors {
  .select2-choice,.select2-choices {
    background: #F9ECEC;    
    border-bottom: $input-border-bottom solid #DDAAAA;
  }
}



@include media($desktop) {
  nop-select {
    @include span-columns($main-content-columns/2);
  }
}

nop-select {
  position: relative;
  margin-bottom: 20px;

  .select2-container-active {
    ~ .highlight {
      transform: scaleX(1);
    }
  }

  .highlight {
    display: block;
    position: absolute;
    bottom: 0px;
    height: 3px;
    width: 100%;
    background-color: $highlight-color;
    transform: scaleX(0);
    transition: transform $base-transition-duration $base-transition-easing;
  }

  .select2-container {
    width: 100%;

    .select2-choice {
      .select2-arrow {
        border: none;
        background: transparent;
        top: 10px;
        right: 4px;

        b {
          transform: scale(1.5);
        }
      }
    }

    @include select2-choices;

    &.select2-dropdown-open.select2-drop-above {
      @include select2-choices;
    }

    &.select2-container-active {
      .select2-choice, .select2-choices {
        box-shadow: none;
        border: none;
      }
    }

    .select2-chosen {
      @include form-input;
      background: none;
    }
  }

  .select2-container-multi {
    $select-choice-height: $base-input-height * 0.7;

    .select2-choices {
      .select2-search-choice {
        height: $select-choice-height;
        line-height: $select-choice-height - 5px;
        font-weight: $base-font-weight;
        width: 98%;
        background: $primary-color;
        color: $white;
        border: none;
      }
    }
  }
}

.select2-no-results {
  text-align: center;
  padding: 10px;
  font-size: 0.8rem;
  opacity: 0.5;
}

.select2-search {
  input {
    height: $base-input-height !important;
  }
}

.select2-results {
  max-height: 300px;
  margin: 0;
  padding: 0;

  .select2-result {
    padding: 1px;
    font-size: $select-font-size;
    border-bottom: 1px solid $extra-light-grey;

    &.select2-highlighted {
      background: $white;
      color: black;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.select2-drop {
  @include form-input;

  .select2-input {
    background: $white;
  }

  &.select2-drop-active {
    &.select2-drop-above {
      border: 1px solid $highlight-color;
      border-radius: $base-border-radius;
    }
    border: 1px solid $highlight-color;
    border-radius: $base-border-radius;
  }
}
