{{ title 'Activity Description' replace=true }}

<div class="activity-description-page">
  <section>
    <header>
      <h2>Activity Description</h2>
    </header>

    {{nop-activity-description}}
    {{#nop-actions}}
      <button>Back</button>
      <button class='primary' onclick="location.href = 'prototype/person-details'">Next ></button>
    {{/nop-actions}}
  </section>
</div>
