{{ title 'Activity Description' replace=true }}

<div class="activity-description-page">
  <section>
    {{nop-activity-description}}
    {{#nop-actions}}
      <button>Back</button>
      <button class='primary'>Next ></button>
    {{/nop-actions}}
  </section>
</div>
