{{#nop-page title='Offshore Project'}}
  {{nop-offshore-project}}
  {{#nop-actions}}
    <button {{action 'goBack'}}>Back</button>
    <button class='primary' {{action 'goNext'}}>Next ></button>
  {{/nop-actions}}
{{/nop-page}}
