{{ title 'Personal Details' replace=true }}

<div class="person-details-page">
  <section>
    <header>
      <h2>Personal Details</h2>
    </header>
    <section>
      <header>
        <h3>Person submitting this Environment Plan</h3>
      </header>
      <div>
        {{nop-person-details inputId='submitter-details'}}
      </div>
      {{#nop-actions}}
        <button>Back</button>
        <button class='primary'>Next ></button>
      {{/nop-actions}}
    </section>
  </section>
</div>
