{{#nop-page title='Title Holder Details'}}
  {{nop-title-holder-details}}
  {{#nop-actions}}
    <button {{action 'goBack'}}>Back</button>
    <button class='primary' {{action 'goNext'}}>Next ></button>
  {{/nop-actions}}
{{/nop-page}}
