{{#nop-page title='Title Holder Details'}}
  {{nop-titleholder-details}}
  {{#nop-actions}}
    <button>Back</button>
    <button class='primary' {{action 'goNext'}}>Next ></button>
  {{/nop-actions}}
{{/nop-page}}
