@import 'navigation';
@import 'nop-actions';
@import 'nop-activity-type';
@import 'nop-add-another';
@import 'nop-address';
@import 'nop-attach-image';
@import 'nop-document';
@import 'nop-errors';
@import 'nop-hint';
@import 'nop-info-box';
@import 'nop-list-item';
@import 'nop-person-details';
@import 'nop-radio-group';
@import 'nop-remove';
@import 'nop-review-component';
@import 'nop-section-header';
@import 'nop-submission-contact';
@import 'nop-text-field';
@import 'nop-titleholder-details';
@import 'nop-topbar';
@import 'nop-uploader';
@import 'nop-page';

.blank {
  color: $hint-color;
  font-style: italic;
}

.error-message {
  color: $error-red;
  font-size: 0.75rem;
}

.download-link {
  display: inline-block;
  margin: 10px 0;
}
