nop-navigation {
  display: flex;
  margin: 20px 100px;
}

$nav-item-dimensions: 90px;
nop-navigation-item {
  text-align: center;
  background-color: $nopsema-grey;
  margin: 0 5px;
  height: $nav-item-dimensions;
  width: $nav-item-dimensions;

  box-shadow: none;

  transition: all 0.5s ease;

  padding: 10px;
  font-size: 0.8 * $base-font-size;

  &.complete {
    background-color: $nopsema-blue;
  }

  &.current {
    @include shadow-depth3(transparentize(black, 0.5));
    transform: scale(1.15);
    background-color: $nopsema-orange;
  }

  .fa {
    font-size: 3em;
    height: 35px;
  }

  a {
    text-decoration: none;
    color: $off-white;

    &:hover {
      color: lighten($nopsema-blue, 30%);
    }

    &:focus {
      color: $off-white;
    }
  }
}
