nop-review-component {
  @include span-columns(12);
  min-height: 50px;
  border: 1px solid $extra-light-grey;
  position: relative;
  padding-bottom: 20px;

  &.errors {
    > .sidebar {
      background-color: $error-red;
    }
  }

  > .sidebar {
    position: absolute;
    left: 0;
    width: 20px;
    height: 100%;
    background-color: $off-white;
  }

  > .content {
    padding: 20px;
    padding-left: 40px;

    a {
      text-decoration: none;
      color: $base-font-color;
    }

    .title {
      margin-bottom: 10px;
    }

    .fa-edit {
      margin-left: 5px;
      font-size: 1em;
    }

    .error-message {
      display:initial;
    }

    li {
      &.error-message {
        display: list-item;
      }
    }
  }
}

@media print {
  nop-review-component {
    .sidebar {
      display: none;
    }

    .content {
      margin: 0;
    }
  }
}
