nop-review-component {
  display: flex;
  min-height: 50px;
  border: 1px solid $extra-light-grey;

  > .sidebar {
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    background-color: $off-white;

    a {
      color: $base-font-color;
    }
  }

  > .content {
    flex: 20;
    padding: 20px;
  }
}

@media print {
  nop-review-component {
    .sidebar {
      display: none;
    }

    .content {
      margin: 0;
    }

    nop-errors {
      display: none;
    }
  }
}
