nop-radio-group {
  @include span-columns(12);

  nop-radio{
    @include span-columns(12);
  }

  @include media($desktop) {
    nop-radio{
      @include span-columns($main-content-columns/2);
      @include omega(2n);
    }
  }
  > label {
    margin-bottom: 15px;
    display: block;
    color: $nopsema-grey;
  }

  &.has-hint {
    .hint {
      display: block;
      margin-top: 30px;
      font-size: $base-font-size * 0.8;
      font-style: italic;
      color: $light-grey;
    }
  }
}
