$header-margin-bottom: 5px;

nop-section-header {
  @include span-columns(12);
  @include clearfix;

  margin-top: 15px;

  .section-header {
    margin-bottom: $header-margin-bottom;
  }

  .required {
    &:after {
      content: '*';
    }
  }

  &.has-hint {
    .section-header {
      margin-bottom: 0px;
    }

    .hint {
      margin-bottom: $header-margin-bottom;
      font-size: $base-font-size * 0.8;
    }
  }
}
