.document {
  position: relative;
  margin: 10px 0;
  .document-icon {
    position: relative;
    display: inline-block;
    border: 1px solid #AAA;
    margin: 0 10px 0 50px;
    width: 75px;
    height: 100px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.25);
    background: #F9F9F9;
    cursor: default;
    &::after {
      content: '';
      position: absolute;
      top: -1px;
      right: -1px;
      border: 8px solid #AAA;
      border-top-color: white;
      border-right-color: white;
    }
    &::before {
      content: '';
      position: absolute;
      top: -8px;
      right: -8px;
      border: 15px solid transparent;
      border-top-color: white;
      border-right-color: white;
    }
  }
  .document-extension {
    font-size: 0.75rem;
    line-height: 1em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin-top: 36px;
  }
  .document-size {
    font-size: 0.75rem;
    line-height: 1em;
    text-align: center;
    color: #999;
  }
  .document-details {
    display: inline-block;
    vertical-align: middle;
  }
  .document-name {
    font-weight: bold;
  }
}