$label-section-margin: 15px;

img.image-preview {
  display: block;
  margin: 0 0 auto 0;
  max-height: 300px;
  max-width: 100%; 
}

nop-attach-image {
  margin-bottom: $base-input-margin-bottom;
  display: block;

  > label {
    margin-bottom: $label-section-margin;
    display: block;
    color: $nopsema-grey;

    &.required {
      &:after {
        content: '*';
      }
    }
  }
}
