nop-add-another {
  @include span-columns(12);
}

nop-add-another button {
  @include button-color(white);
  padding: 8px;
  box-shadow: none;
  margin-top: 5px;
  font-family: $base-font-family;
  font-size: $base-input-font-size;
  font-weight: $base-font-weight;
  background-color: white;
  color: $nopsema-grey;
  text-align: left;

  &:hover{
    color: darken($nopsema-grey, 15%);
    box-shadow: none;
  }

  &:active {
    box-shadow: none;
    transform: scale(0.995);
  }
}
