nop-uploader {
  .file-picker {
    @include span-columns(12);

    @include media($desktop) {
      @include span-columns(10);
    }

    height: 100px;
    padding: 5px;
    background: $off-white;

    .file-picker__dropzone {
      cursor: pointer;
      height: 100%;
    }

    .file-picker__preview__image {
      width: 90px;
      height: 90px;
    }

    .file-picker__progress {
      &:after {
        width: 100%;
        content: 'Uploading the shiz';
      }
    }
  }

  .hint {
    @include span-columns(12);
  }
}
