$base-uploader-height:160px;
$progress-bar-height: 4px;
$preview-height: 525px;

nop-document-uploader {
  clear: both;
  display: block;
  position: relative;
  min-height: $base-uploader-height;

  .cancel-button {
    position: absolute;
    right: 30px;
    top: 42%;
    background: transparent;
    font-size: 25px;
    color: $nopsema-grey;
    box-shadow: none;
    transform: translateY(-45%);

    &:hover {
      color: darken($nopsema-grey, 20%);
    }
  }

  .instruction {
    pointer-events: none;
    white-space: normal;
    margin-bottom: 4px;
    .fa {
      font-size: 2rem;
      opacity: 0.25;
    }
  }

  .progress {
    height: 4px;
    margin: 10px;

    .progress-inner {
      transition: all 0.5s ease;
      height: 100%;
      background-color: $nopsema-blue;

      &.complete {
        background-color: $nopsema-orange;
      }
    }
  }

  .file-picker {
    height: 140px;
    padding: 5px;
    width: 100%;
    background: $off-white;
    color: $nopsema-grey;
    cursor: pointer;
    box-shadow: none;
    margin-bottom: 0px;
    border: 2px dashed #DDD;

    &.drag-over {
      transform: scale(1.01);
      border-color: black;
    }
  }

  .file-input {
    display: none;
  }
}

.visited .errors nop-document-uploader .file-picker {
  background: #F9ECEC;
  border-color: #DDAAAA;
}
