$label-section-margin: 15px;

nop-radio-group {
  @include span-columns(12);

  @include media($desktop) {
    @include span-columns(10);
  }
}

nop-radio-group {
  nop-radio{
    @include span-columns(12);
  }

  .errors {
    @include span-columns(12);
    color: $error-red;
  }

  @include media($desktop) {
    nop-radio{
      @include span-columns($main-content-columns/2);
      @include omega(2n);
    }
  }

  > label {
    margin-bottom: $label-section-margin;
    display: block;
    color: $nopsema-grey;

    &.required {
      &:after {
        content: '*';
      }
    }
  }

  &.has-hint {
    > label {
      margin-bottom: 0px;
    }

    .hint {
      margin-bottom: $label-section-margin;
      font-size: $base-font-size * 0.8;
    }
  }
}
