nop-review-component {
  display: flex;
  min-height: 50px;
  border: 1px solid $extra-light-grey;

  &.errors {
    > .sidebar {
      background-color: $error-red;
    }
  }

  > .sidebar {
    display: flex;
    width: 20px;
    background-color: $off-white;
  }

  > .content {
    flex: 20;
    padding: 20px;

    a {
      text-decoration: none;
      color: $base-font-color;
    }

    .fa-edit {
      margin-left: 5px;
      font-size: 1em;
    }
  }
}

@media print {
  nop-review-component {
    .sidebar {
      display: none;
    }

    .content {
      margin: 0;
    }

    nop-errors {
      display: none;
    }
  }
}
