$topbar-height: 60px;

nop-topbar {
  display: block;
  height: $topbar-height;
  background-color: darken($nopsema-grey, 30%);
  text-align: center;
  position: relative;

  .logo, .logo-icon {
    position: absolute;
    left: 30px;
    height: 100%;
  }

  .logo {
    display: none;

    @include media($desktop) {
      display: inline;
    }
  }

  .logo-icon {
    @include media($desktop) {
      display: none;
    }
  }

  .page-title {
    display: inline-block;
    color: $off-white;
    font-size: 1.1rem;
    line-height: $topbar-height;
  }

  .page-actions {
    position: absolute;
    display: inline-block;
    color: $white;
    right: 10px;
    line-height: $topbar-height;

    a {
      text-decoration: none;
      color: $white;
    }

    .fa {
      width: 50px;
      font-size: $base-font-size * 1.5;
    }
  }
}


@media print {
  nop-topbar {
    display: none;
  }
}
