.hint {
  font-style: italic;
  color: $hint-color;
  margin: 0 0 6px 0;
  white-space: normal;
  cursor: default;
  &.can-expand {
    cursor: pointer;
    a {
      text-decoration: none;
    }
  }
}
