nop-person-details {
  section {
    $section-margin: 30px;
    margin-top: $section-margin;
    margin-bottom: $section-margin;
  }

  .phone-number {
    @include span-columns(12);

    @include media($desktop) {
      @include span-columns(5);
    }
  }

  .person-title {
    @include span-columns(2);
  }

  .person-first-name {
    @include span-columns(10);
    @include omega;

    @include media($desktop) {
      @include span-columns(4);
    }
  }

  .person-last-name {
    @include media($desktop) {
      @include span-columns(4);
      @include omega;
    }
  }
}
