$header-margin-bottom: 5px;

nop-section-header {
  display: block;
  clear: both;
  @include clearfix;

  margin-top: 15px;

  .section-header {
    margin: 8px 0 6px 0;
    font-weight: 400;
  }

  .required {
    &:after {
      content: '*';
    }
  }

  &.has-hint {
    .section-header {
      margin-bottom: 0px;
    }

    .hint {
      margin-bottom: $header-margin-bottom;
      font-size: $base-font-size * 0.8;
    }
  }
}
