nop-uploader {
  @include span-columns(12);
  position: relative;
  height: 80px;

  &.has-progress {
    height: 140px;
  }

  .instruction {
    white-space: normal;
  }

  .initialising-mask, .upload-section {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .initialising-mask {
    text-align: center;
    padding: 20px;
    background-color: transparentize($card-background-color, 0.1);

    .initialising-message {
      @include span-columns(12);

      @include media($desktop) {
        @include span-columns(10);
      }
    }
  }

  .file-picker {
    @include span-columns(12);

    @include media($desktop) {
      @include span-columns(10);
    }

    height: 60px;
    padding: 5px;
    background: $off-white;
    color: $nopsema-grey;
    cursor: pointer;
    box-shadow: none;
    margin-bottom: 0px;

    &:focus {
      @include shadow-depth1;
    }

    &.drag-over {
      transform: scale(1.01);
      border: 3px dashed black;
    }
  }

  .file-input {
    display: none;
  }

  .preview {
    @include span-columns(12);

    @include media($desktop) {
      @include span-columns(2);
      @include omega;

      text-align: center;
      font-size: 2.5 * $base-font-size;
      line-height: 60px;
      color: $nopsema-blue;
    }
  }

  .progress {
    @include span-columns(12);

    @include media($desktop) {
      @include span-columns(10);
    }

    height: 30px;
    margin-top: 20px;

    .progress-inner {
      transition: all 0.5s ease;
      height: 100%;
      background-color: $nopsema-blue;

      &.complete {
        background-color: $nopsema-orange;
      }
    }
  }

  .hint {
    @include span-columns(12);
    font-size: $base-font-size * 0.8;
  }
}
