$label-section-margin: 15px;

nop-radio-group {
  margin-bottom: $base-input-margin-bottom;
  > div {
    margin-top: 6px;
  }
  @include span-columns(12);
}

nop-radio-group {
  nop-radio{
    @include span-columns(12);
  }

  .errors {
    @include span-columns(12);
  }

  @include media($desktop) {
    nop-radio{
      float: none;
      width: auto;
      display: inline-block;
      @include omega(2n);
    }
  }

  > label {
    margin-bottom: 6px;
    display: block;
    color: $nopsema-grey;

    &.required {
      &:after {
        content: '*';
      }
    }
  }
}
