nop-person-details {
  section {
    $section-margin: 30px;
    margin-top: $section-margin;
    margin-bottom: $section-margin;
  }

  .phone-number {
    @include span-columns(12);

    @include media($desktop) {
      @include span-columns(5);
    }
  }
}
