.nop-remove {
  margin: 0px;
  line-height: normal;
  text-align: center;
  background: transparent;
  box-shadow: none;
  color: $nopsema-grey;
  font-size: 25px;
  padding: 0 4px;
  &:hover, &:active, &:focus {
    background: transparent;
    color: black;
    box-shadow: none;
  }
}
