{{#nop-page title='Something went wrong with your submission' class='error-page'}}
  <p class='error-message'>It probably wasn't your fault. Please try again later.</p>
  <p class='error-message'>If it's urgent please contact NOPSEMA on 1234 5678.</p>
{{/nop-page}}
