.activity-details-page {
  .ep-duration {
    @include span-columns(12);

    @include media($desktop) {
      @include span-columns(5);
    }
  }

  nop-activity-types {
    margin-bottom: 1rem;

    nop-list-item {
      border: 0;
      padding: 4px 4px 4px 54px;
      nop-remove div i {
        top: 12px;
        left: 18px;
        transform: none;
      }
      nop-select {
        margin-bottom: 0;
      }
    }
  }
}
