@import 'styleguide';
@import 'comments';
@import 'confirmation';
@import 'review';
@import 'activity-details';
@import 'before-you-start';
@import 'welcome';

nop-page {
  @include outer-container;
  display: block;

  header {
    margin-bottom: 0.75em;
  }

  &.has-hint {
    h2 {
      margin-bottom: 0.1em;
    }

    > .hint {
      font-size: $base-font-size;
    }
  }

  > section {
    padding: 30px 60px;
    background-color: white;
  }

  section {
    margin-top: 4px;
    @include clearfix;
  }
}

@media print {
  body {
    background: none !important;
  }

  nop-page {
    max-width: initial;

    > section {
      width: 100%;
      box-shadow: none;
      border: none;
    }
  }

  .page-break {
    page-break-before: always;
  }

  nop-actions {
    display: none;
  }
}
