@import 'styleguide';
@import 'comments';
@import 'confirmation';
@import 'attachments';
@import 'submit';

nop-page {
  @include outer-container;
  display: block;

  header {
    margin-bottom: 0.75em;
  }

  &.has-hint {
    h2 {
      margin-bottom: 0.1em;
    }

    > .hint {
      font-size: $base-font-size;
    }
  }

  > section {
    @include as-card;
    padding: 20px;

    &:first-child {
      margin-top: 50px;
    }
  }

  section {
    margin-top: 20px;
    @include clearfix;
  }
}
