.styleguide-page {
  @include outer-container;

  section {
    @include as-card;
    @include clearfix;
    margin-bottom: 30px;
    padding: 10px;
  }

  .primary {
    @include primary-button;
  }

  .warning {
    @include warning-button;
  }

  .text, .number, .email, .date {
    @include span-columns(12);
  }

  @include media($desktop) {
    .text, .number, .email, .date {
      @include span-columns(6);
      @include omega(2n);
    }
  }

  .petroleum, .greenhouse-gas, .disabled-radio {
    @include span-columns(12);
  }

  @include media($desktop) {
    .petroleum, .greenhouse-gas, .disabled-radio {
      @include span-columns(4);
    }
  }

  .textarea {
    @include span-columns(12);
  }

  button {
    margin-right: 10px;
  }
}