@mixin large-layout {
  .submit-page {
    .activity-name, .regulation-type, .has-opp, .has-minister-decision {
      @include span-columns(6);
    }

    .title-number, .title-region, .title-commonwealth-waters {
      @include span-columns(4);
    }

    .titleholder-detail_name {
      @include span-columns(6);
      @include omega;
    }

    .titleholder-detail_abn, .titleholder-detail_acn {
      @include span-columns(3);
    }

    .full-address {
      @include span-columns(6);
    }

    .person-employer, .person-position {
      @include span-columns(6);
    }

    .person-contacts, .person-postal {
      @include span-columns(6);
    }
  }
}

.submit-page {
  section {
    margin-top: 30px;
  }

  h3 {
    margin-bottom: 0px;
  }

  .person-phone, .person-mobile {
    @include span-columns(6);
  }

  .person-contacts {
    @include span-columns(12);
  }

  ul {
    margin: 0;
  }
}

@include media($desktop) {
  @include large-layout;
}

@media print {
  @include large-layout;
}
