.welcome-page {
  .ep-section, .fa-section, .opp-section {
    margin-bottom: 30px;
    padding: 10px;
  }

  .question-section {
    margin-top: 20px;
    margin-left: 33px;
  }

  .explanatory-text {
    font-size: 0.75em;
    margin-bottom: 20px;
  }

  .privacy-notice {
    margin-top: 75px;
    font-size: $base-font-size * 0.75;
    color: $nopsema-grey;
  }

  button {
    display: block;
  }

  nop-unavailable {
    @include span-columns(12);
    margin-top: 20px;
    font-size: 0.75em;
    margin-left: 33px;
  }
}
