.welcome-page {
  .ep-section, .fa-section, .opp-section {
    margin-bottom: 30px;
    padding: 10px;
  }

  .question-section {
    margin-top: 20px;
  }

  .privacy-notice {
    margin-top: 75px;
    font-size: $base-font-size * 0.75;
    color: $nopsema-grey;
  }
}
