@mixin large-layout {
  .submit-page {
    .activity-name, .regulation-type, .has-opp, .has-minister-decision {
      @include span-columns(6);
    }

    .title-number, .title-region, .title-commonwealth-waters {
      @include span-columns(4);
    }

    .titleholder-detail_name {
      @include span-columns(6);
      @include omega;
    }

    .titleholder-detail_abn, .titleholder-detail_acn {
      @include span-columns(3);
    }

    .full-address {
      @include span-columns(6);
    }
  }
}

.contacts {
  @include clearfix;
  display: flex;
  align-items: stretch;
  section {
    flex: 4;
    margin-right: 20px;

    &:last-child {
      margin-right: 0px;
    }
  }

}

.review-page {
  section {
    margin-top: 30px;
  }

  .has-errors {
    .sidebar {
      background-color: $error-mask;
    }
  }

  h3, h5 {
    margin-bottom: 0px;
  }

  h5 {
    margin-top: 20px;
  }

  .person-contacts {
    @include span-columns(12);
  }

  ul {
    margin: 0;
  }
}

@include media($desktop) {
  @include large-layout;
}

@media print {
  @include large-layout;

  nop-navigation {
    display: none;
  }
}
