{{#nop-page title='Activity contact'
            hint='This is the person NOPSEMA will direct formal correspondence to regarding the assessment of your EP'}}
  {{nop-activity-contact contact=model.activityContact}}
  {{#nop-actions}}
    {{#link-to back}}
      <button>Back</button>
    {{/link-to}}
    {{#link-to next}}
      <button class='primary'>Next</button>
    {{/link-to}}
  {{/nop-actions}}
{{/nop-page}}
