{{#nop-page title='Before you start' class='before-you-start-page'}}
  <section>
    <p>
      Submission of a revised environment plan (EP) submission may be made to NOPSEMA by completion of this form. If you have any difficulties in using this
      form, please email <a href="mailto:information@nopsema.gov.au">information@nopsema.gov.au</a>.
    </p>
    <p>
      Submission of any EP to NOPSEMA is an eligible voluntary action for the purposes of Part 9.6A of the <i>Offshore
      Petroleum and Greenhouse Gas Storage Act 2006 (OPGGS Act 2006)</i>. Titleholder(s) are responsible for ensuring that this submission is made in accordance
      with the requirements for taking eligible voluntary actions under Part 9.6A or the OPGGS Act 2006 in all cases. All people listed in this submission are considered to be represented the titleholder.
    </p>
    <p>Please note all mandatory fields are marked with an *.</p>
  </section>
  <section>
    <h3>What will I need to complete my submission?</h3>
    <p>The following information is required to complete this form:</p>
    <ul class="bullets">
      <li>Name, description and type of activity</li>
      <li>Location map (in JPEG or PNG format)</li>
      <li>Whether the activity is part of an offshore project and, if so, the approval reference number for the accepted Offshore Project Proposal (OPP) or the Commonwealth Environment Minister's approval</li>
      <li>The title or titles that authorise the activity or the application number for the title(s) you are applying for</li>
      <li>Details of the titleholder making the submission (business name, address and ABN/ACN)</li>
      <li>Contact details for the person submitting the EP, the nominated liaison person and a person who NOPSEMA should contact regarding the assessment outcome</li>
      <li>A consolidated, text-searchable Adobe Acrobat (.pdf) or Microsoft Word (.doc, .docx) copy of the EP document(s)</li>
      <li>References to relevant information previously submitted to NOPSEMA (if any)</li>
      <li>Financial assurance declaration (if you haven’t already submitted one to NOPSEMA for the relevant titles). This is optional on submission but must be provided before NOPSEMA can accept the EP</li>
      <li>Financial assurance confirmation. This is optional on submission but must be provided before NOPSEMA can accept the EP</li>
      <li>Any additional information required to support your submission</li>
    </ul>
    Partially completed forms will be saved in your browser for 5 days, even if your computer is switched off.
  </section>
  {{#nop-actions}}
  {{#link-to next}}
    <button class='primary'>Get Started</button>
  {{/link-to}}
  {{/nop-actions}}
{{/nop-page}}
