{{#nop-page title='Financial assurance'
            hint='Under Regulation 16 NOPSEMA may not accept an EP unless the titleholder has demonstrated that they hold appropriate financial assurance.'
            class='financial-assurance-page'}}

  <div class="notice">
    {{fa-icon 'info-circle'}}
    <p><strong>Please note</strong>, your financial assurance declaration and confirmation:</p>
    <ul>
      <li>is not required in order to submit your environment plan</li>
      <li>is not required for title applicants prior to titles being issued</li>
      <li>must be submitted in order for your environment plan to be accepted</li>
    </ul>
    <p>You may submit these during the assessment period via the <a href="http://www.nopsema.gov.au/">NOPSEMA Online Submissions</a> site.</p>
  </div>
  {{nop-financial-assurance assurance=model.financialAssurance}}

  {{#nop-actions}}
    {{#link-to back}}
      <button disabled={{navigationDisabled}}>Back</button>
    {{/link-to}}
    {{#link-to next}}
      <button class='primary' disabled={{navigationDisabled}}>Next</button>
    {{/link-to}}
  {{/nop-actions}}
{{/nop-page}}
