{{#nop-page title='Before you start' class='before-you-start-page'}}
  <section>
    <p>
      While not mandatory for submission of an environment plan, financial assurance is required before an
      environment plan can be accepted by NOPSEMA.
    </p>
    <p>
      You can use this service to generate a form which can then be uploaded individually or as part of an environment plan submission.
      If you have any difficulties in using this form, please email <a href="mailto:information@nopsema.gov.au">information@nopsema.gov.au</a>.
    </p>
  </section>
  <section>
    <h3>What will I need to generate the form?</h3>
    <ul class="bullets">
      <li>The title or titles that you are submitting for</li>
      <li>Details of the titleholder making the submission (business name, address and ABN/ACN)</li>
      <li>EP document title to which this confirmation applies</li>
      <li>The method under which this confirmation was calculated</li>
    </ul>
    Partially completed forms will be saved in your browser, and you may return to it later provided you are using the same computer and browser.
  </section>
  {{#nop-actions}}
  {{#link-to next}}
    <button class='primary'>Get Started</button>
  {{/link-to}}
  {{/nop-actions}}
{{/nop-page}}
