{{#nop-page title='Before you start' class='before-you-start-page'}}
  <section>
    <p>
      While not mandatory for submission of an environment plan, financial assurance is required before an
      environment plan can be accepted by NOPSEMA. Your financial assurance declaration and confirmation may be submitted to NOPSEMA by completion of this form. If you have any difficulties in using this form, please email <a href="mailto:submissions@nopsema.gov.au">submissions@nopsema.gov.au</a>.
    </p>
  </section>
  <section>
    <h3>What will I need to complete my submission?</h3>
    <ul class="bullets">
      <li>The title or titles that you are submitting for</li>
      <li>Details of the titleholder making the submission (business name, address and ABN/ACN)</li>
      <li>Contact details for the person submitting the declaration</li>
      <li>Signed financial assurance documents in Adobe Acrobat (.pdf), JPG (.jpg, .jpeg) or PNG (.png) formats</li>
    </ul>
    Partially completed forms will be saved in your browser, and you may return to it later provided you are using the same computer and browser.
  </section>
  {{#nop-actions}}
  {{#link-to next}}
    <button class='primary'>Get Started</button>
  {{/link-to}}
  {{/nop-actions}}
{{/nop-page}}
