{{#nop-page title='Before You Start' class='before-you-start-page'}}
  <section>
    <h3>Do I need to submit Financial Assurance?</h3>
    <p>
      While not mandatory for submission of an Environment Plan, Financial Assurance is required before an
      Environment Plan can be accepted by NOPSEMA.
    </p>
    <p>
    Submission of both a Financial Assurance Declaration and Confirmation may be made to NOPSEMA by completion of
    this form. If you have any difficulties in using this form, please contact xxx.
    </p>
  </section>
  <section>
    <h3>What will I need to complete my submission?</h3>
    <ul class="bullets">
      <li>The title or titles that you are submitting for</li>
      <li>Details of the titleholder making the submission (business name, address and ABN/ACN)</li>
      <li>Contact details for the person submitting the Declaration</li>
      <li>Signed Financial Assurance documents</li>
    </ul>
    Please note that you can continue your partially completed submission provided you are using the same computer and browser.
  </section>
  {{#nop-actions}}
  {{#link-to next}}
    <button class='primary'>Get Started</button>
  {{/link-to}}
  {{/nop-actions}}
{{/nop-page}}
