{{#nop-page title='Attach Confirmation'
            class='attach-fa-confirmation-page'}}

  {{nop-fa-attachment attachment=model.attachment type='confirmation'}}

  {{#nop-actions}}
    {{#link-to back}}
      <button disabled={{navigationDisabled}}>Back</button>
    {{/link-to}}
    {{#link-to next}}
      <button class='primary' disabled={{navigationDisabled}}>Next</button>
    {{/link-to}}
  {{/nop-actions}}
{{/nop-page}}
