{{#nop-page title='Before you start' class='before-you-start-page'}}
  <section>
    <p>
      While not mandatory for submission of an environment plan, financial assurance is required before an
      environment plan can be accepted by NOPSEMA.
    </p>
    <p>
      An financial assurance confirmation submission may be made to NOPSEMA by completion of this form. If you have any difficulties in using this
      form, please email <a href="mailto:information@nopsema.gov.au">information@nopsema.gov.au</a>.
    </p>
    <p>Please note all mandatory fields are marked with an *.</p>
  </section>
  <section>
    <h3>What will I need to complete my submission?</h3>
    <p>The following information is required to complete this form:</p>
    <ul class="bullets">
      <li>Contact details for the person submitting the confirmation</li>
      <li>Signed financial assurance confirmation to attach to the submission</li>
      <li>Any additional information required to support your submission</li>
    </ul>
    Partially completed forms will be saved in your browser, and you may return to it later provided you are using the same computer and browser.
  </section>
  {{#nop-actions}}
  {{#link-to next}}
    <button class='primary'>Get Started</button>
  {{/link-to}}
  {{/nop-actions}}
{{/nop-page}}
