{{#nop-page title='Activity Contact'
            hint='This is the person to whom we will direct formal correspondence regarding the assessment of your EP and, in the future, regarding inspections, incident investigations and enforcement actions (if they arise)'}}
  {{nop-activity-contact contact=model.activityContact}}
  {{#nop-actions}}
    {{#link-to back}}
      <button>Back</button>
    {{/link-to}}
    {{#link-to next}}
      <button class='primary'>Next</button>
    {{/link-to}}
  {{/nop-actions}}
{{/nop-page}}
