{{#nop-page title='Activity Details'}}
  {{nop-activity-details activityDetails=model.activityDetails}}
  {{#nop-actions}}
    <button {{action 'goBack'}}>Back</button>
    <button class='primary' {{action 'goNext'}}>Next</button>
  {{/nop-actions}}
{{/nop-page}}
