{{#nop-page title='Activity details'
            class='activity-details-page'}}
  {{nop-activity-details activityDetails=model.activityDetails}}
  {{#nop-actions}}
    {{#link-to back}}
      <button>Back</button>
    {{/link-to}}
    {{#link-to next}}
      <button class='primary'>Next</button>
    {{/link-to}}
  {{/nop-actions}}
{{/nop-page}}
