{{#nop-page title='Activity Description'}}
  {{nop-activity-description submission=model}}
  {{#nop-actions}}
    <button {{action 'goBack'}}>Back</button>
    <button class='primary' {{action 'goNext'}}>Next ></button>
  {{/nop-actions}}
{{/nop-page}}
