{{#nop-page title='Activity types'}}
  {{nop-activity-types submission=model}}
  {{#nop-actions}}
    <button {{action 'goBack'}}>Back</button>
    <button class='primary' {{action 'goNext'}}>Next</button>
  {{/nop-actions}}
{{/nop-page}}
