{{#nop-page title='Additional Information' class='additional-info-page'}}
  {{nop-additional-info additionalInfo=model.additionalInfo uniqueEmailAddresses=uniqueEmailAddresses}}

  {{#nop-actions}}
    <button {{action 'goBack'}}>Back</button>
    <button class='primary' {{action 'goNext'}}>Next</button>
  {{/nop-actions}}
{{/nop-page}}
