{{#nop-page title='Additional Information' class='additional-info-page'}}
  <section>
    {{nop-confirmation-emails additionalInfo=model.additionalInfo uniqueEmailMessages=uniqueEmailMessages}}
  </section>

  {{nop-comments comments=model.additionalInfo.comments hint='Anything else that you need to support your submission'}}

  {{#nop-actions}}
    <button {{action 'goBack'}}>Back</button>
    <button class='primary' {{action 'goNext'}}>Next</button>
  {{/nop-actions}}
{{/nop-page}}
