{{#nop-page title='Environment Plan'
            class='attach-environment-plan-page'
            hint='Attach the Environment Plan document itself'}}

  {{nop-attach-environment-plan submission=model}}

  {{#nop-actions}}
    <button {{action 'goBack'}}>Back</button>
    <button class='primary' {{action 'goNext'}}>Next</button>
  {{/nop-actions}}
{{/nop-page}}
