{{#nop-page title='Attachments'
            class='attachments-page'
            hint='Upload any supporting documents'}}

  {{nop-attachments submission=model}}

  {{#nop-actions}}
    <button {{action 'goBack'}}>Back</button>
    <button class='primary' {{action 'goNext'}}>Next</button>
  {{/nop-actions}}
{{/nop-page}}
