{{#nop-page title='Environment Plan'
            class='attach-environment-plan-page'
            hint='Attach the Environment Plan document itself'}}
  {{nop-input label='Name of this document' value=model.environmentPlanDocument.name}}

  {{nop-uploader hint='Please submit a Word document (.doc, .docx) or Adobe Portable Format (.pdf)'
                 accept='.doc,.docx,.pdf'
                 token=model.environmentPlanDocument.token}}

  {{#nop-actions}}
    <button {{action 'goBack'}}>Back</button>
    <button class='primary' {{action 'goNext'}}>Next</button>
  {{/nop-actions}}
{{/nop-page}}
