{{#nop-page title='Before You Start' class='before-you-start-page'}}
  <section>
    <h3>Do I need to submit an Environment Plan?</h3>
    <p>
      Anyone who wants to undertake a petroleum or greenhouse gas activity is required to submit an environment plan
      (EP) and have it accepted by NOPSEMA before they may undertake that activity.
    </p>
    <p>
      Submission of an EP to NOPSEMA is an eligible voluntary action for the purposes of Part 9.6A of the Offshore
      Petroleum and Greenhouse Gas Storage Act 2006. Titleholder(s) submitting an EP remain responsible for compliance
      with the requirements of Part 9.6A in all cases.
    </p>
    <p>
      An EP submission may be made to NOPSEMA by completion of this form. If you have any difficulties in using this
      form, please contact xxx.
    </p>
  </section>
  <section>
    <h3>What will I need to complete my submission?</h3>
    <ul class="bullets">
      <li>Name of the activity, a brief description of the activity and a location map (in JPG or PNG format)</li>
      <li>Whether the activity is part of an offshore project and, if so, the approval reference number for the accepted OPP or EPBC approval</li>
      <li>The title or titles that authorise the activity or the application number for the title(s) you are applying for</li>
      <li>Details of the titleholder making the submission (business name, address and ABN/ACN)</li>
      <li>Contact details for the person submitting the EP, the nominated liaison person and a person who NOPSEMA should contact regarding assessment and inspection of the activity</li>
      <li>The type of activity</li>
      <li>A consolidated, text-searchable PDF copy of the EP</li>
      <li>Financial assurance declaration (if you haven’t already submitted one to NOPSEMA for the relevant titles. This is optional on submission)</li>
      <li>Financial assurance confirmation (this is optional on submission)</li>
      <li>Any attachments to the EP that will support your submission (these should be in text-searchable PDF format)</li>
    </ul>
    Please note that you can continue your partially completed submission provided you are using the same computer and browser.
  </section>
  {{#nop-actions}}
  {{#link-to next}}
    <button class='primary'>Get Started</button>
  {{/link-to}}
  {{/nop-actions}}
{{/nop-page}}
