{{#nop-page title='Before You Start' class='before-you-start-page'}}
  <section>
    <p>
      An EP submission may be made to NOPSEMA by completion of this form. If you have any difficulties in using this
      form, please email <a href="mailto:submissions@nopsema.gov.au">submissions@nopsema.gov.au</a>.
    </p>
    <p>
      Submission of an EP to NOPSEMA is an eligible voluntary action for the purposes of Part 9.6A of the Offshore
      Petroleum and Greenhouse Gas Storage Act 2006. Titleholder(s) submitting an EP remain responsible for compliance
      with the requirements of Part 9.6A in all cases. All people listed in this submission are considered to be represented the titleholder.
    </p>
  </section>
  <section>
    <h3>What will I need to complete my submission?</h3>
    <p>The following information is required to complete this form:</p>
    <ul class="bullets">
      <li>Name of the activity, a brief description of the activity and a location map (in JPG or PNG format), and the type of activity</li>
      <li>Whether the activity is part of an offshore project and, if so, the approval reference number for the accepted Offshore Project Proposal (OPP) or the Environment Minister's approval</li>
      <li>Whether the submission is an EP for a new activity, or a proposed revision of an EP for an ongoing activity</li>
      <li>The title or titles that authorise the activity or the application number for the title(s) you are applying for</li>
      <li>Details of the titleholder making the submission (business name, address and ABN/ACN)</li>
      <li>Contact details for the person submitting the EP, the nominated liaison person and a person who NOPSEMA should contact regarding the assessment outcome</li>
      <li>A consolidated, text-searchable Adobe Acrobat (.pdf) or Microsoft Word (.doc, .docx) copy of the EP documents</li>
      <li>References to relevant information previously submitted to NOPSEMA</li>
      <li>Financial assurance declaration (if you haven’t already submitted one to NOPSEMA for the relevant titles). This is optional on submission but must be provided before NOPSEMA can accept the EP</li>
      <li>Financial assurance confirmation. This is optional on submission but must be provided before NOPSEMA can accept the EP</li>
      <li>Any additional information required to support your submission</li>
    </ul>
    Partially completed forms will be saved in your browser, and you may return to it later provided you are using the same computer and browser.
  </section>
  {{#nop-actions}}
  {{#link-to next}}
    <button class='primary'>Get Started</button>
  {{/link-to}}
  {{/nop-actions}}
{{/nop-page}}
