{{#nop-page title='Before you start' hint='This is the information you need for a new Environment Plan'}}
  <section>
    <h3>Do I need to submit an Environment Plan?</h3>
    <ul class="bullets">
      <li>I'm doing X</li>
      <li>I want to do Y</li>
    </ul>
  </section>
  <section>
    <h3>What you will need to provide</h3>
    <ul class="bullets">
      <li>Title Numbers (for the authorising Title)</li>
      <li>Title Holders</li>
      <li>Activity Description</li>
    </ul>
  </section>
  <section>
    <h3>What you will need to submit</h3>
    <ul class="bullets">
      <li>Title Numbers (for the authorising Title)</li>
      <li>Title Holders</li>
      <li>Activity Description</li>
    </ul>
  </section>
  {{#nop-actions}}
    <button class='primary' {{action 'goNext'}}>Next</button>
  {{/nop-actions}}
{{/nop-page}}
