{{#nop-page title='Before you start'}}
  <section>
    <h3>Do I need to submit an Environment Plan?</h3>
    <p>
      Anyone who wants to undertake a petroleum or greenhouse gas activity is required to submit an environment plan
      (EP) and have it accepted by NOPSEMA before they may undertake that activity.
    </p>
    <p>
      Submission of an EP to NOPSEMA is an eligible voluntary action for the purposes of Part 9.6A of the Offshore
      Petroleum and Greenhouse Gas Storage Act 2006. Titleholder(s) submitting an EP remain responsible for compliance
      with the requirements of Part 9.6A in all cases.
    </p>
    <p>
      An EP submission may be made to NOPSEMA by completion of this form. If you have any difficulties in using this
      form, please contact xxx.
    </p>
  </section>
  <section>
    <h3>What you will need to complete a submission</h3>
    <ul class="bullets">
      <li>Name of the activity, a brief description of the activity and a location map (in JPG or PNG format)</li>
      <li>Whether the activity is part of an offshore project and, if so, the approval reference number for the accepted OPP or EPBC approval</li>
      <li>The title or titles that authorise the activity or the application number for the title(s) you are applying for</li>
      <li>Details of the titleholder making the submission (business name, address and ABN/ACN)</li>
      <li>Contact details for the person submitting the EP, the nominated liaison person and a person who NOPSEMA should contact regarding assessment and inspection of the activity</li>
      <li>The type of activity</li>
      <li>A consolidated, text-searchable PDF copy of the EP</li>
      <li>Financial assurance declaration (if you haven’t already submitted one to NOPSEMA for the relevant titles. This is optional on submission)</li>
      <li>Financial assurance confirmation (this is optional on submission)</li>
      <li>Any attachments to the EP that will support your submission (these should be in text-searchable PDF format)</li>
    </ul>
    Please note that you can continue your partially completed submission provided you are using the same computer and browser.
  </section>
  <section>
    <h3>Privacy notice</h3>
    <p>
      NOPSEMA collects your personal information if it is necessary to contact you for the purpose of performing functions or
      exercising powers under the Offshore Petroleum and Greenhouse Gas Storage Act 2006, the Offshore Petroleum and Greenhouse
      Gas Storage (Regulatory Levies) Act 2009 and associated regulations. Failure to provide personal information may result
      in NOPSEMA being unable to properly administer these laws.
    </p>
    <p>
      NOPSEMA will not use or disclose your personal information for any other purpose without your consent, unless:
    </p>
    <ul class="bullets">
      <li>NOPSEMA uses or discloses it in relation to its enforcement activities</li>
      <li>certain permitted situations exist under the Privacy Act 1988</li>
      <li>use or disclosure is required or authorised by another Australian law</li>
    </ul>
    <p>
      In some circumstances, your personal information may be disclosed to the following organisations, entities, or individuals:
    </p>
    <ul class="bullets">
      <li>individuals who make a request under the Freedom of Information Act 1982</li>
      <li>the Australian National Audit Office and other privately-appointed auditors</li>
      <li>other law enforcement bodies (e.g. police or coroner)</li>
      <li>NOPSEMA’s legal advisors</li>
    </ul>
    <p>
      NOPSEMA may occasionally be required to disclose information to overseas recipients in order to discharge its functions
      or exercise its powers, or to perform its necessary business activities.
    </p>
    <p>
      Further information about how you can access, or seek correction to, your personal information is contained in NOPSEMA’s
      APP Privacy Policy at <a href='http://www.nopsema.gov.au/privacy'>nopsema.gov.au/privacy</a>. If you have an enquiry or a complaint about your privacy, please contact 
      NOPSEMA’s Privacy Officer on 08 6188 8700 or by email at <a href='mailto:privacy@nopsema.gov.au'>privacy@nopsema.gov.au</a>.
    </p>
  </section>
  {{#nop-actions}}
    <button class='primary' {{action 'goNext'}}>Next</button>
  {{/nop-actions}}
{{/nop-page}}
