{{#nop-page title='Comments'
            hint='Anything else that you need to support your submission'}}
  {{nop-textarea value=model.comments rows=10}}
  {{#nop-actions}}
    <button {{action 'goBack'}}>Back</button>
    <button class='primary' {{action 'goNext'}}>Next</button>
  {{/nop-actions}}
{{/nop-page}}
