{{#nop-page title='Additional Emails' class='confirmation-emails-page'
            hint='Provide email addresses of others who need to receive confirmation of this submission'}}
  <section>
    {{nop-confirmation-emails submission=model}}
  </section>
  {{#nop-actions}}
    <button {{action 'goBack'}}>Back</button>
    <button class='primary' {{action 'goNext'}}>Next</button>
  {{/nop-actions}}
{{/nop-page}}
