{{#nop-page title='Environment Plan Documents'
            class='attach-environment-plan-page'
            hint='Attach the Environment Plan and any supporting documentation'}}

  {{nop-environment-plan-documents documents=model.documents}}

  {{#nop-actions}}
    {{#link-to back}}
      <button>Back</button>
    {{/link-to}}
    {{#link-to next}}
      <button class='primary'>Next</button>
    {{/link-to}}
  {{/nop-actions}}
{{/nop-page}}
