{{#nop-page title='Financial Assurance Declaration'
            class='fa-declaration-page'}}

  {{nop-fa-declaration declaration=model.documents.faDeclaration}}

  {{#nop-actions}}
    <button {{action 'goBack'}}>Back</button>
    <button class='primary' {{action 'goNext'}}>Next</button>
  {{/nop-actions}}
{{/nop-page}}
