{{#nop-page title='Financial assurance'
            hint='Under Regulation 5G NOPSEMA may not accept an EP unless the titleholder has demonstrated that they hold appropriate financial assurance. While demonstrated financial assurance is not required for submission, NOPSEMA cannot accept an environment plan without both a financial assurance declaration and confirmation.'
            class='financial-assurance-page'}}

  {{nop-financial-assurance assurance=model.financialAssurance}}

  {{#nop-actions}}
    {{#link-to back}}
      <button>Back</button>
    {{/link-to}}
    {{#link-to next}}
      <button class='primary'>Next</button>
    {{/link-to}}
  {{/nop-actions}}
{{/nop-page}}
