{{#nop-page title='Person submitting this Environment Plan'}}
  {{nop-person-details person=model.submissionContact}}
  {{#nop-actions}}
    <button {{action 'goBack'}}>Back</button>
    <button class='primary' {{action 'goNext'}}>Next ></button>
  {{/nop-actions}}
{{/nop-page}}
