{{#nop-page title='Titleholder Details'
            class='titleholder-details-page'
            hint='This is the party responsible for the preparation, management and execution of the Environment Plan'}}
  {{nop-titleholders titleholderDetails=model.titleholderDetails}}

  {{#nop-actions}}
    <button {{action 'goBack'}}>Back</button>
    <button class='primary' {{action 'goNext'}}>Next</button>
  {{/nop-actions}}
{{/nop-page}}
