{{#nop-page title='Titleholder details'
            class='titleholder-details-page'
            hint='This is the party responsible for the preparation, management and execution of the environment plan'}}
  {{nop-titleholders titleholderDetails=model.titleholderDetails}}

  {{#nop-actions}}
    {{#link-to back}}
      <button>Back</button>
    {{/link-to}}
    {{#link-to next}}
      <button class='primary'>Next</button>
    {{/link-to}}
  {{/nop-actions}}
{{/nop-page}}
