{{#nop-page title='Titles'
            class='titles-page'
            hint='These are the titles and activities covered in this submission. Add all of the titles that are covered by this submission.'}}
  {{nop-titles submission=model}}

  {{#nop-actions}}
    <button {{action 'goBack'}}>Back</button>
    <button class='primary' {{action 'goNext'}}>Next</button>
  {{/nop-actions}}
{{/nop-page}}
