{{#nop-page title='Attach declaration(s)'
            class='attach-fa-declaration-page'}}

  {{nop-fa-attachments attachments=model.attachments type='declaration'}}

  {{#nop-actions}}
    {{#link-to back}}
      <button disabled={{navigationDisabled}}>Back</button>
    {{/link-to}}
    {{#link-to next}}
      <button class='primary' disabled={{navigationDisabled}}>Next</button>
    {{/link-to}}
  {{/nop-actions}}
{{/nop-page}}
