<div class="stylesheet-page">

  <h1>Living Style Guide</h1>

  <section>
    <header>
      <h2>Headings</h2>
    </header>
    <h1>H1. Welcome to the Submissions UI</h1>
    <h2>H2. Welcome to the Submissions UI</h2>
    <h3>H3. Welcome to the Submissions UI</h3>
    <h4>H4. Welcome to the Submissions UI</h4>
    <h5>H5. Welcome to the Submissions UI</h5>
    <h6>H6. Welcome to the Submissions UI</h6>
  </section>

  <section>
    <header>
      <h2>Buttons</h2>
    </header>
    <button>I'm a regular button!</button>
    <button class="primary">I'm the primary button!</button>
    <button class="warning">I'm a warning button?</button>
  </section>

  <section>
    <header>
      <h2>Forms</h2>
    </header>
    <div>
      <div class="input-group text">
        <input id="text-input" type="text" />
        <span class="highlight" />
        <label for="text-input">Text Input</label>
      </div>
      <div class="input-group number">
        <input id="number-input" type="number" />
        <span class="highlight" />
        <label for="number-input">Number Input</label>
      </div>
      <div class="input-group email">
        <input id="email-input" type="email" />
        <span class="highlight" />
        <label for="email-input">Email Input</label>
      </div>
      <div class="input-group date">
        <input id="date-input" type="date" />
        <span class="highlight" />
        <label for="date-input">Date Input</label>
      </div>
    </div>
    <div class="input-group textarea">
      <textarea id="textarea-input" rows="2" />
      <span class="highlight" />
      <label for="textarea-input">Textarea Input</label>
    </div>
  </section>

</div>