{{ title 'Living Style Guide' replace=true }}

<div class="styleguide-page">

  <h1>Living Style Guide</h1>

  <section>
    <header>
      <h2>Headings</h2>
    </header>
    <h1>H1. Welcome to the Submissions UI</h1>
    <h2>H2. Welcome to the Submissions UI</h2>
    <h3>H3. Welcome to the Submissions UI</h3>
    <h4>H4. Welcome to the Submissions UI</h4>
    <h5>H5. Welcome to the Submissions UI</h5>
    <h6>H6. Welcome to the Submissions UI</h6>
  </section>

  <section>
    <header>
      <h2>Forms</h2>
    </header>
    <section>
      <header>
        <h3>Text Inputs</h3>
      </header>
      <div>
        <div class="input-group text">
          <input id="text-input" type="text" required="true" />
          <label for="text-input">Text Input</label>
          <span class="highlight" />
        </div>
        <div class="input-group number">
          <input id="number-input" type="number" />
          <label for="number-input">Number Input</label>
          <span class="highlight" />
        </div>
        <div class="input-group email">
          <input id="email-input" type="email" />
          <label for="email-input">Email Input</label>
          <span class="highlight" />
        </div>
        <div class="input-group date">
          <input id="date-input" type="date" />
          <label for="date-input">Date Input</label>
          <span class="highlight" />
        </div>
      </div>
    </section>
    <section>
      <div class="input-group textarea">
        <textarea id="textarea-input" rows="3" />
        <label for="textarea-input">Textarea Input</label>
        <span class="highlight" />
      </div>
    </section>

    <section>
      <header>
        <h3>Radio Inputs</h3>
      </header>
      <ul>
        <li class="radio-group petroleum">
          <input id="radio-input1" type="radio" name="selector" />
          <label for="radio-input1">Petroleum Activity</label>
          <div class="check"></div>
        </li>
        <li class="radio-group greenhouse-gas">
          <input id="radio-input2" type="radio" name="selector" />
          <label for="radio-input2">Gas Activity</label>
          <div class="check"></div>
        </li>
        <li class="radio-group disabled-radio">
          <input id="radio-input3" type="radio" name="selector" disabled="true" />
          <label for="radio-input3">Disabled</label>
          <div class="check"></div>
        </li>
        <li class="radio-group disabled-checked-radio">
          <input id="radio-input4" type="radio" name="selector1" checked="true" disabled="true" />
          <label for="radio-input4">Disabled (Checked)</label>
          <div class="check"></div>
        </li>
      </ul>
    </section>

    <section>
      <header>
        <h3>Selection</h3>
      </header>
      <div>
        <div class="select-group single">
          <label for="select-input" /> Single-select
          <select id="select-input">
            {{#each selectOptions as |selectOption|}}
              <option>{{selectOption}}</option>
            {{/each}}
          </select>
        </div>
        <div class="select-group multiple">
          <label for="multi-select-input" /> Multi-select
          <select id="multi-select-input">
            {{#each selectOptions as |selectOption|}}
              <option>{{selectOption}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </section>
  </section>

  <section>
    <header>
      <h2>Checkboxes</h2>
    </header>
    <div>
      <h3>Pick some types with checkboxes</h3>
      <ul>
        <li class="checkbox-group activity-type">
          <input id="checkbox-input1" type="checkbox" name="selector" />
          <label for="checkbox-input1">Operation of a facility</label>
          <div class="check"></div>
        </li>
        <li class="checkbox-group activity-type">
          <input id="checkbox-input2" type="checkbox" name="selector" />
          <label for="checkbox-input2">Operation of a petroleum pipeline</label>
          <div class="check"></div>
        </li>
        <li class="checkbox-group activity-type">
          <input id="checkbox-input3" type="checkbox" name="selector" disabled="true" />
          <label for="checkbox-input3">Disabled</label>
          <div class="check"></div>
        </li>
        <li class="checkbox-group activity-type">
          <input id="checkbox-input3" type="checkbox" checked="true" name="selector" disabled="true" />
          <label for="checkbox-input3">Disabled (Checked)</label>
          <div class="check"></div>
        </li>
      </ul>
    </div>
  </section>

  <section>
    <header>
      <h2>Buttons</h2>
    </header>
    <button>I'm a regular button!</button>
    <button class="primary">I'm the primary button!</button>
    <button class="warning">I'm a warning button?</button>
  </section>
</div>
