{{title 'Online Submissions' replace=true}}

{{#nop-page title='Welcome' class='welcome-page'}}

  <h3>This service is offline for maintenance this evening, until approximately 8pm AEST.</h3>
  <p>Please use <a href="https://securefile.nopsema.gov.au/filedrop/submissions">https://securefile.nopsema.gov.au/filedrop/submissions</a> if you would like to make a submission before that time.</p>

{{/nop-page}}
